<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TweakToolkit.EntityFramework.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="TweakTestDataEntities" connectionString="metadata=res://*/TweakTestEntities.csdl|res://*/TweakTestEntities.ssdl|res://*/TweakTestEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VW3S14\STRUKTO;initial catalog=tweakTestData;persist security info=True;user id=strukto;password=157359;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="StruktoWebsiteEntities" connectionString="metadata=res://*/WebsiteData.StruktoWebsiteEntities.csdl|res://*/WebsiteData.StruktoWebsiteEntities.ssdl|res://*/WebsiteData.StruktoWebsiteEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VW3S14\STRUKTO;initial catalog=struktoData;persist security info=True;user id=strukto;password=157359;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <userSettings>
    <TweakToolkit.EntityFramework.Properties.Settings>
      <setting name="EntityDataModelName" serializeAs="String">
        <value>TweakTestEntities.edmx</value>
      </setting>
    </TweakToolkit.EntityFramework.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>