<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Tweak.Remote.Bloomberg.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Tweak.Remote.Bloomberg.Properties.Settings>
      <setting name="Bloomberg_Field_Bid" serializeAs="String">
        <value>PX_BID</value>
      </setting>
      <setting name="Bloomberg_Field_Ask" serializeAs="String">
        <value>PX_ASK</value>
      </setting>
      <setting name="Bloomberg_Field_LastUpdateBid" serializeAs="String">
        <value>LAST_UPDATE_BID_RT</value>
      </setting>
      <setting name="Bloomberg_Field_LastUpdateAsk" serializeAs="String">
        <value>LAST_UPDATE_ASK_RT</value>
      </setting>
      <setting name="Bloomberg_Field_Time" serializeAs="String">
        <value>TIME</value>
      </setting>
    </Tweak.Remote.Bloomberg.Properties.Settings>
  </userSettings>
</configuration>