<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings"
                  type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TweakToolkit.WCF.Test.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TweakToolkit.WCF.Test.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <TweakToolkit.WCF.Test.Properties.Settings>
      <setting name="TweakToolkit_WCF_Test_CatWebservice_Import" serializeAs="String">
        <value>http://www.cat-financial-files.ch/Import.asmx</value>
      </setting>
    </TweakToolkit.WCF.Test.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <TweakToolkit.WCF.Test.Properties.Settings>
      <setting name="Webservice_Username" serializeAs="String">
        <value>CatWebserviceUser</value>
      </setting>
      <setting name="Webservice_Password" serializeAs="String">
        <value>$#@_~|¢..aiksdfn17</value>
      </setting>
    </TweakToolkit.WCF.Test.Properties.Settings>
  </userSettings>
</configuration>