<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TweakToolkit.WCF.Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TweakToolkit.WCF.Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <applicationSettings>
    <TweakToolkit.WCF.Test.Properties.Settings>
      <setting name="TweakToolkit_WCF_Test_CatWebservice_Import" serializeAs="String">
        <value>http://www.cat-financial-files.ch/Import.asmx</value>
      </setting>
    </TweakToolkit.WCF.Test.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <TweakToolkit.WCF.Test.Properties.Settings>
      <setting name="Webservice_Username" serializeAs="String">
        <value>CatWebserviceUser</value>
      </setting>
      <setting name="Webservice_Password" serializeAs="String">
        <value>$#@_~|¢..aiksdfn17</value>
      </setting>
      <setting name="TestProductValor" serializeAs="String">
        <value>123456789</value>
      </setting>
      <setting name="CleanupAfterTestrun" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="InvalidValor" serializeAs="String">
        <value>0</value>
      </setting>
    </TweakToolkit.WCF.Test.Properties.Settings>
  </userSettings>
  <connectionStrings>
    <add name="TweakTestDataEntities" connectionString="metadata=res://*/TweakTestEntities.csdl|res://*/TweakTestEntities.ssdl|res://*/TweakTestEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VW3S14\STRUKTO;initial catalog=tweakTestData;persist security info=True;user id=strukto;password=157359;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="StruktoWebsiteEntities" connectionString="metadata=res://*/WebsiteData.StruktoWebsiteEntities.csdl|res://*/WebsiteData.StruktoWebsiteEntities.ssdl|res://*/WebsiteData.StruktoWebsiteEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VW3S14\STRUKTO;initial catalog=struktoData;persist security info=True;user id=strukto;password=157359;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>